h1{
	text-align: center;
	color: #666;
}
.part{
    text-align: center;
    margin-bottom: 400px;
    color: #666;
    text-shadow: 1px 1px 30px #17225C;
}
#back{
    width: 45px;
    height: 45px;
    position: fixed;
    text-align: center;
    right: 25px;
    bottom: 50px;
    display: none;
}