@color:#ccc;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    color: @color;
    padding: 10px 0;
}
p{
    color: #9a9a9a;
    text-indent: 2em;
    line-height: 1.2;
}
.wrapper{
    margin: 15px;
}
pre{
    margin:20px 40px;
    overflow: auto;
}
.codebox{
    
}